table{
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
}
table th{
    border: 1px solid #ddd;
    padding: 8px;
}
table td{
    border: 1px solid #ddd;
    padding: 8px;
}
form{
    align-items: center;
    justify-content: center;
    text-align: center;
}
form input{
    outline: none;
    border: 1px solid #ddd;
    padding: 5px;
}
.btn{
    padding: 5px;
    border: none;
    background: #0b500b;
    color: #ffffff;
}